
<h2>Projecten en gebruikers importeren</h2>


<% form_tag({:action => 'match'}, {:multipart => true}) do %>
<table">
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= file_field_tag 'file', :size => 60%></p>
     </td>
   </tr>
   
 </table>
 <br/>
 <br/>
 <fieldset title="Modules" >
 	<legend>Modules</legend>
 	<label><%= check_box_tag "issue_tracking", true, true %> Issue Tracking </label><br/>
    <label><%= check_box_tag "time_tracking", true, true %> Time Tracking </label><br/>		
    <label><%= check_box_tag "news", true, true %> News </label><br/>
    <label><%= check_box_tag "documents", true, true %> Documents </label><br/>	
    <label><%= check_box_tag "files", true, true %> Files </label><br/>	
    <label><%= check_box_tag "wiki", true, true %> Wiki </label><br/>	
    <label><%= check_box_tag "repository", true, true %> Repository </label><br/>	
    <label><%= check_box_tag "forums", true, true %> Forums </label><br/>	
    <label><%= check_box_tag "calendar", true, true %> Calendar </label><br/>	
    <label><%= check_box_tag "gantt", true, true %> Gantt </label><br/>	
           	
</fieldset>

<br/>

<fieldset title="Trackers" >
 	<legend>Trackers</legend>
 	<label><%= check_box_tag "bug_tracker", true, true %> Bug </label>
	<label><%= check_box_tag "feature_tracker", true, true %> Feature </label>
	<label><%= check_box_tag "support_tracker", true, true %> Support </label>
</fieldset>
<br/>
<fieldset title="User roles">
	<legend>User roles</legend>
	<br/>
	<label>Imported users: </label>
	<%= select_tag "role", options_for_select(@roles_imported_users) %>
	
	<br/>
	<br/>
	
	<label>Add users from existing group: </label>
	<br/>
	<ul>
  <% @groups.each do |group| %>
      <li>
       
       <%= group %>
       <%= select_tag 'group[]', options_for_select(@roles_view) %>
      </li>
<% end %>
</ul>
</fieldset>
<br/>
<fieldset title ="Repository">
	<legend>Repository</legend>
	<br/>
	<label>Repository type:</label>
		<%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <br />
  <em><%= content_tag 'span', l(:text_scm_command_not_available), :class => 'error' %></em>
<% end %>
	<br/>
	<br/>
	<label>BASE URL:</label>
	<%= text_field_tag "repository_url"%>
</fieldset>
       <%= submit_tag 'Submit' -%>
    

<% end -%>
