
<h2>Import projects and users</h2>


<% form_tag({:action => 'match'}, {:multipart => true, :id => 'file_form_id'}) do %>
<fieldset title="File">
	<legend>File</legend>
<table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >
       <%= file_field_tag 'file', :size => 500 %>
     </td>
   </tr>   
 </table>
 </fieldset> 
 <br/>
 <fieldset title="Modules" >
 	<legend>Modules</legend>
 	<label><%= check_box_tag "issue_tracking", true, true %> Issue Tracking </label><br/>
    <label><%= check_box_tag "time_tracking", true, true %> Time Tracking </label><br/>		
    <label><%= check_box_tag "news", true, true %> News </label><br/>
    <label><%= check_box_tag "documents", true, true %> Documents </label><br/>	
    <label><%= check_box_tag "files", true, true %> Files </label><br/>	
    <label><%= check_box_tag "wiki", true, true %> Wiki </label><br/>	
    <label><%= check_box_tag "repository", true, true %> Repository </label><br/>	
    <label><%= check_box_tag "forums", true, true %> Forums </label><br/>	
    <label><%= check_box_tag "calendar", true, true %> Calendar </label><br/>	
    <label><%= check_box_tag "gantt", true, true %> Gantt </label><br/>	
           	
</fieldset>

<br/>

<fieldset title="Trackers" >
 	<legend>Trackers</legend>
 	<label><%= check_box_tag "bug_tracker", true, true %> Bug </label>
	<label><%= check_box_tag "feature_tracker", true, true %> Feature </label>
	<label><%= check_box_tag "support_tracker", true, true %> Support </label>
</fieldset>
<br/>
<fieldset title="User roles">
	<legend>User roles</legend>
	
	<table>
		<tr>
	<td width="110">Imported users: </td>
	<td width="110"><%= select_tag "role_user", options_for_select(@roles_imported_users) %></td>
	</tr>
	<br/>
		
	<tr><td width="200"> users from existing group: </td></tr>
	
	
  <% @groups.each do |group| %>
      <tr>
      <td width="110"><%= group %></td>
       <td width="110"><%= select_tag 'group[]', options_for_select(@roles_view) %> </td>
      </tr>
<% end %>
</table>
</fieldset>
<br/>
<fieldset title ="Repository">
	<legend>Repository</legend>
	<table>
		<tr>
			<td width="110">
	<label>Repository type:</label>
			</td>
			<td width="110">
		<%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <br />
  <em><%= content_tag 'span', l(:text_scm_command_not_available), :class => 'error' %></em>
<% end %>
</td>
	</tr>
	<tr>
		<td width="110">
	<label>BASE URL:</label>
	</td>
	<td width="110">
	<%= text_field_tag 'repository_url'%>
	</td>
	</tr>
	</table>
</fieldset>
       <%= submit_tag 'Submit'  -%>
    

<% end -%>

