
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript">
	$(document).ready(function() {
  $("#id_for_scm_select_tag").change(function() {
    $("#id_for_scm_select_tag option:selected").map(function() {
      $("#id_for_text_field_tag").val($(this).text());
    });
  });
});
</script>
<style type="text/css">
.inputfile{
	
	width: 250px;
    height: 22px;
}

.dropdown{
	
	width: 135px;
    height: 22px;
}

.legendcss{  
	font-size: 14px;
	font-weight:bold;
 }
 
 .validation{
 	
 	 color: red;
 }
 
 

 </style>
 <%= @test.inspect %>
<% form_tag({:action => 'match'}, {:multipart => true, :id => 'file_form_id'}) do %>
<fieldset >
	<legend class="legendcss">File</legend>
<table>
   <tr>
     <td>
      <label for="dump_file">
        Select a CSV File :
      </label>
     </td>
     <td >     	
       <%= file_field_tag 'file', :class => 'inputfile' %>   
       <label title="A file is required!" class="validation">*</label>    
     </td>
    
   </tr>   
 </table>
 </fieldset> 
 <br/>
 <fieldset title="Select modules to enable" >
 	<legend class="legendcss">Modules</legend>
 	
 	<label><%= check_box_tag "issue_tracking", true, true %> Issue Tracking </label><br/>
    <label><%= check_box_tag "time_tracking", true, true %> Time Tracking </label><br/>		
    <label><%= check_box_tag "news", true, true %> News </label><br/>
    <label><%= check_box_tag "documents", true, true %> Documents </label><br/>	
    <label><%= check_box_tag "files", true, true %> Files </label><br/>	
    <label><%= check_box_tag "wiki", true, true %> Wiki </label><br/>	
    <label><%= check_box_tag "repository", true, true %> Repository </label><br/>	
    <label><%= check_box_tag "forums", true, true %> Forums </label><br/>	
    <label><%= check_box_tag "calendar", true, true %> Calendar </label><br/>	
    <label><%= check_box_tag "gantt", true, true %> Gantt </label><br/>	
           	
</fieldset>

<br/>

<fieldset title="Select trackers" >
	
 	<legend class="legendcss">Trackers</legend>
 	<label><%= check_box_tag "bug_tracker", true, true %> Bug </label>
	<label><%= check_box_tag "feature_tracker", true, true %> Feature </label>
	<label><%= check_box_tag "support_tracker", true, true %> Support </label>
</fieldset>
<br/>
<fieldset title="Adjust user roles">
	<legend class="legendcss">User roles</legend>	
	<table>
		<tr>
	<td>Imported users: </td>
	<td><%= select_tag "role_user", options_for_select(@roles_imported_users), :class => 'dropdown' %></td>
	</tr>
	<br/>
		
	<tr><td> Users from existing group: </td></tr>
	
	
  <% @groups.each do |group| %>
      <tr>
      <td><%= group %></td>
       <td><%= select_tag 'group[]', options_for_select(@roles_view), :class => 'dropdown' %> </td>
      </tr>
<% end %>
</table>
</fieldset>
<br/>
<fieldset title ="Select repository">
	<legend class="legendcss">Repository</legend>
	<table>
		<tr>
			<td>
	<label>Repository type:</label>
			</td>
			<td>
		<%= scm_select_tag(@repository) %>
<% if @repository && ! @repository.class.scm_available %>
  <br />
  <em><%= content_tag 'span', l(:text_scm_command_not_available), :class => 'error' %></em>
<% end %>
</td>
	</tr>
	<tr>
		<td>
	<label>BASE URL:</label>
	</td>
	<td>
	<%= text_field_tag 'repository_url' %>
	</td>
	</tr>
	</table>
</fieldset>
       <%= submit_tag 'Submit'  -%>
    

<% end -%>

