<% form_tag({:action => 'result'}, {:multipart => true}) do %>
    <fieldset class="box"><legend>Match columns</legend>
    <% @headers.each do |column| %>
         <label ><%= column %>:
           <%= select_tag "fields_map[#{column}]", options_for_select( @attrs ) %></label>      
    <% end %>
    </fieldset>

    <%= submit_tag 'Submit' %>
<br/>
<% end %>


<ul>
<% @rollen.each do |b| %>
<li>
<%= b %>
</li>
<% end %>
</ul>


<ul>
<% @headers.each do |x| %>
<li>
<%= x %>
</li>
<% end %>
</ul>


<br/>
<br/>


<ul>
<% @samples.each do |a| %>
<li>
<%= a %>
</li>
<% end %>
</ul>
